* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

#my-skills-div {
  
}

#title {
    /* display: flex;
    align-content: justify;
    justify-content: center; */
    background-color: rgb(135,188,118);
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 12px 70px 12px 70px;
}

/* skill text */
tr > .skill {
    color: rgb(255,142,40);
}

/* X button */
td > #remove-skill {
    color: white;
    background-color: rgb(222,85,93);
    border-radius: 0px;
    margin: 10px 10px 10px auto;
}

/* input form */
div > .skill-input {
    border: 3px solid rgb(135,188,118);
    width: 72%;
    margin-right: 5px;
    padding: 7px;
}

/* add skill button */
div > #add-skill {
    border: 3px solid rgb(135,188,118);
    background-color: white;
    margin-top: 10px;
    color: rgb(135,188,118);
    padding: 7px;
}